html {
    background-color: #eee;
}

body {
    padding: 0 1em;
}

#txt {
    font-family: monospace;
}

div {
    margin: 0.2em 0;
}

#settings {
    margin: 1em 0;
}

#tab_override_tab_size {
    text-align: right;
}
