#txt {
    font-family: monospace;
    overflow: auto; /* hide scrollbar by default */
}

.tabOverrideActive:focus {
    color: #f9f9f9;
    background-color: #222;
}

#enable,
#settings,
#extensions { margin: 1em 0; }

#extensions div>div { margin-left: 1.5em; }

label,
input[type="checkbox"] { cursor: pointer; }

#tab_override_tab_size,
#tab_override_delay,
#tab_override_hard_tab_size { text-align: right; }

.description,
.description code { color: #707070; }

div.description { margin-top: 0.5em; }

#docs { margin-top: 2em; }
